<div class="row no-gutters">
    <div class="col-sm col-md-4 pfl">
        <img src="./assets/img/hawaiian.JPG" alt="Hawaiian" class="pflimage">
        <div class="pflhover">
            <h4>Hawaiian</h4>
            <p>Gordon Ramsey will swear at you</p>
        </div>
    </div>
    <div class="col-sm col-md-4 pfl">
        <img src="./assets/img/meat.JPG" alt="Meat" class="pflimage">
        <div class="pflhover">
            <h4>Meat</h4>
            <p>We all love</p>
        </div>
    </div>
    <div class="col-sm col-md-4 pfl">
        <img src="./assets/img/napolitana.JPG" alt="Napolitana" class="pflimage">
        <div class="pflhover">
            <h4>Napolitana</h4>
            <p>Gordon Ramsey will kiss you</p>
        </div>
    </div>
</div>