<div class='row'>
    {{#each menu}}
    <div class='col-sm-4'>
        <h1>{{name}}</h1>
        {{description}}
        <h3>12-inch:</h3>
        ${{small}}
        <h3>16-inch:</h3>
        ${{large}}
        <br />
    </div>
    {{/each}}
</div>